.falso_body {
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.hamburguer{
    position: absolute;
    top:1px;
    left: 1px;
    height: 3rem;
}
.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.linha_separar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: 2px solid hsl(178, 0%, 50%);
    background-color: hsl(178, 0%, 50%);
}

.quadrado{
    padding: .5rem;
    border: 5px solid hsl(178, 0%, 50%);
    background-color: rgb(255, 255, 255);
    margin-right: 0.5rem;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: 'Hind', sans-serif;
    font-size: 150%;
}
html{
    background-color: hsl(204, 100%, 77%);
    font-size: 110%;
}
h2{font-family: 'Hind', sans-serif;
    font-size: 120%;}
p{font-family: 'Crimson Text', serif;
    font-size: 120%}
.cabecario2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.falso_body2 {
    display:none;
    flex-direction: column;
    position: absolute;
    top: 0%;
    width: 50%;
    align-items: flex-start;
    
}
.listagem2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border: 3px solid hsl(178, 0%, 50%);
}
.icone2{
    height: 2rem;
    align-items: center;
    filter: brightness(0%);
}
.voltar2{
    height: 2rem;
    transform: rotate(90deg);

}
.quadrado2{padding: 0.8rem;
    border: 5px solid hsl(178, 0%, 50%);
    background-color: hsl(23, 72%, 53%);

}
a { color: inherit; 
    text-decoration: none} 
body {
        line-height:1.6;
    }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0.25rem;}